{{>sopirNavbar}}
<input type="hidden" id="data-kode-sopir" value={{kodeSopir}}>
<!-- awal card -->
<div class="container-fluid body mt-4 p-4">
  <div class="card text-center shadow mb-4">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-3">
          <div class="img">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png"
              alt="profile.jpg">
          </div>
        </div>
        <div class="col-sm">
          <div class="desc" id="header-info-data">
            <div class="pageTitle"></div>
            <h6 class="m-0 font-weight-bold text-primary titleDesc"></h6>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs card-header-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="order-tab" data-bs-toggle="tab" href="#nav-order" role="tab" aria-controls="order"
            aria-selected="false">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="jadwal-tab" data-bs-toggle="tab" href="#nav-jadwal" role="tab" aria-controls="jadwal"
            aria-selected="false">Jadwal</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <!-- untuk message -->
      <div id="message" style="text-align : center;">
        <p></p>
      </div>
      <!-- end of message -->
      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <form action="" id="updateProfileForm">
            <div class="row">
              <div class="col-2">
                <label for="idSopir">Id</label>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="number" id="idSopir" class="form-control update-data-input" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <label for="namaSopir">Nama</label>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" id="namaSopir" class="form-control update-data-input" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <label for="notelpSopir">No Telpon</label>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" id="notelpSopir" class="form-control update-data-input" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <label for="alamatSopir">Alamat</label>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" id="alamatSopir" class="form-control update-data-input">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <label for="kodeSopir">Kode Sopir</label>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" id="kodeSopir" class="form-control update-data-input" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <label for="keteranganSopir">Keterangan</label>
              </div>
              <div class="col">
                <div class="form-group">
                  <textarea class="form-control update-data-input" id="keteranganSopir" cols="10" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="button">
                  <button type="submit" id="updateBtn" class="customBtn successBtn" data-id="1">Update</button>
                </div>
              </div>
              <div class="col text-center mt-4 loading d-none">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
          <div class="table-responsive-md">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <div class="row justify-content-md-center">
                  <div class="col-sm">
                    <select class="form-control" name="tipeOrder" id="tipeOrderOption">
                      <option value="belum" selected>Belum di cek</option>
                      <option value="sudah">Sudah di cek</option>
                      <option value="semua">Semua</option>
                    </select>
                    <form class="form-inline ml-2 my-2 my-lg-0" id="formTanggal">
                      <input class="form-control mr-sm-2" id="tanggal" type="search" placeholder="Tanggal">
                    </form>
                    <button class="btn-primary btn ml-2" id="customTanggalBtn">Custom</button>
                    <button class="btn-danger btn ml-2" id="backTanggalBtn">Back</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div id="orderTitle">
                  <h4 class="text-primary font-weight-bold" id="orderTableTitle"></h4>
                  <h5 class="text-primary" id="orderTableDesc"></h5>
                </div>
                <div class="table-responsive">
                  <table id="orderTable" class="table table-bordered table-hover" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Jam</th>
                        <th scope="col">Sopir</th>
                        <th scope="col">Status</th>
                        <th scope="col">Keterangan</th>
                        <th scope="col">Dicek</th>
                        <th scope="col">Button</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td colspan="11">
                          <div class="text-right ml-auto">
                            <button class="btn btn-primary" id="submitCheckOrderBtn">Submit</button>
                          </div>
                        </td>
                        <td>
                          <input type="checkbox" class="btn-check" id="check_all" autocomplete="off"
                            data-is-active="false">
                          <label class="btn btn-outline-success" for="check_all">Semua</label>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-jadwal" role="tabpanel" aria-labelledby="nav-jadwal-tab">
          <div class="schedules">

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- akhir card -->