{{> orderNavbar }}

<div class="container-fluid">
    <div class="p-4 ml-auto mr-auto mt-4">
        <div class="pageTitle">
            <div class="pageTitleName">{{title}}</div>
        </div>
        <div class="mainTable table-responsive-md">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col">
                            <h6 onclick="openDateRangePicker()" class="m-0 font-weight-bold text-primary orderDate">
                            </h6>
                            <input class="form-control mr-sm-2" id="tanggal" type="search" placeholder="Tanggal"
                                disabled>
                        </div>
                        <div class="col text-right">
                            <button data-izimodal-open="#modal" class="btn btn-primary">Tambah Order <span
                                    class="material-icons"
                                    style="vertical-align : text-bottom; font-size : 22px">add</span></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mainTable table-responsive">
                        <table id="orderTable" class="table table-bordered table-hover" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Notelp</th>
                                    <th scope="col">Alamat</th>
                                    <th scope="col">Jumlah</th>
                                    <th scope="col">Harga</th>
                                    <th scope="col">Jam</th>
                                    <th scope="col">Sopir</th>
                                    <th scope="col">Jasa</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Keterangan</th>
                                    <th scope="col">Button</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="modal" class="m-auto">
    <div class="modalWrapper">
        <form class="needs-validation" id="createForm" novalidate autocomplete="off" data-search="true">
            <input type="hidden" id="googleId" class="form-binding">
            <input type="hidden" id="namaKantor" class="form-binding">
            <div class="form-group">
                <label for="tanggalOrder">Tanggal Order</label>
                <input type="text" class="form-control form-binding" name="tanggalOrder" id="tanggalOrder" required
                    autofocus="false">
            </div>
            <div class="form-group">
                <label for="nama">Nama</label>
                <input type="text" class="form-control form-binding searchable" name="nama" id="nama" minlength="3"
                    required autofocus="true">
                <span id="resetIcon" class="material-icons-round">cancel</span>
                <div class="invalid-feedback"></div>
                {{!-- search result --}}
                <div class="searchResult list-group">
                    <!-- search result -->
                </div>
            </div>
            <div class="form-group">
                <label for="notelp">Notelp</label>
                <input type="tel" class="form-control form-binding" name="notelp" id="notelp" minlength="6"
                    pattern="^(^\+62\s?|^0)(\d{3,4}-?){2}\d{3,4}$" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="alamat">Alamat</label>
                <input type="text" class="form-control form-binding" name="alamat" id="alamat" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="jumlah">Jumlah</label>
                <input type="number" class="form-control form-binding" name="jumlah" id="jumlah" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="jam">Jam</label>
                <input type="text" class="form-control form-binding clockpicker" name="jam" id="jam"
                    style="background-color : white;" readonly>
            </div>
            <div class="form-group">
                <label for="harga">Harga</label>
                <input type="number" class="form-control form-binding" name="harga" id="harga" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="sopir">Sopir</label>
                <select class="custom-select form-binding" id="sopir" name="sopir[]" multiple>

                </select>
            </div>
            <div class="form-group">
                <label for="jasa">Jasa</label>
                <select class="custom-select form-binding" id="jasa" name="jasa">
                </select>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="custom-select form-binding" id="status" name="status" required>
                    <option selected value="1">--Status--</option>
                    <option value="1">Proses</option>
                    <option value="2">Diselesaikan</option>
                    <option value="3">Batal</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="keterangan">Keterangan</label>
                <textarea class="form-control form-binding" name="keterangan" id="keterangan" cols="10"
                    rows="2"></textarea>
            </div>
            <div class="text-right mt-4 button">
                <a href="" data-izimodal-close="" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Tambah</button>
            </div>
            <div class="text-center mt-4  d-none loading">
                <div class="spinner-border text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
</div>