{{> orderNavbar }}

<div class="container-md ml-auto mr-auto mt-4">
    <div class="pageTitle">
        <div class="pageTitleName">{{title}}</div>
        <div class="orderDate">7 Januari 2020</div>
    </div>
    <div class="mainTable table-responsive-md">
        <table id="orderTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Notelp</th>
                    <th scope="col">Jam</th>
                    <th scope="col">Jumlah</th>
                    <th scope="col">Sopir</th>
                    <th scope="col">Jasa</th>
                    <th scope="col">Status</th>
                    <th scope="col">Keterangan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td contenteditable="true" id="coba">Kadek</td>
                    <td>Lembusora Lorem, ipsum.</td>
                    <td>082146432578</td>
                    <td>07:00</td>
                    <td>1</td>
                    <td>DGD</td>
                    <td></td>
                    <td>Proses</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Kadek</td>
                    <td>Lembusora</td>
                    <td>082146432578</td>
                    <td>07:00</td>
                    <td>1</td>
                    <td>DGD</td>
                    <td></td>
                    <td>Proses</td>
                    <td></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>