{{>sopirNavbar}}

<div class="container-md ml-auto mr-auto mt-4">
    <div class="pageTitle">
        <div class="pageTitleName">{{title}}</div>
        <div class="orderDate">7 Januari 2020</div>
    </div>
    <div class="mainTable table-responsive-md">
        <table id="sopirTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Notelp</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Kode Sopir</th>
                    <th scope="col">Keterangan</th>
                    <th scope="col">Button</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="modal" class="m-auto" >
    <div class="modalWrapper">
        <form class="needs-validation" id="createForm" novalidate autocomplete="off" data-search="true">
            <input type="hidden" id="googleId">
            <div class="form-group">
                <label for="nama">Nama</label>
                <input type="text" class="form-control searchable" name="nama" id="nama" minlength="3" required>
                <div class="invalid-feedback">Nama tidak boleh kosong</div>
                {{!-- search result --}}
                <div class="searchResult">
                    <!-- search result -->
                    
                </div>
            </div>
            <div class="form-group">
                <label for="notelp">Notelp</label>
                <input type="tel" class="form-control searchable" name="notelp" id="notelp" minlength="6" 
                pattern="^(^\+62\s?|^0)(\d{3,4}-?){2}\d{3,4}$" required>
                <div class="invalid-feedback"></div>
                {{!-- search result --}}
                <div class="searchResult form-group">
                        <!-- search result -->
                </div>
            </div>
            <div class="form-group">
                <label for="alamat">Alamat</label>
                <input type="text" class="form-control searchable" name="alamat" id="alamat">
                {{!-- search result --}}
                <div class="searchResult form-group">
                        <!-- search result -->
                </div>
            </div>
            <div class="form-group">
                <label for="kodeSopir">Kode Sopir</label>
                <input type="text" class="form-control" name="kodeSopir" id="kodeSopir" required>
                <div class="invalid-feedback">Kode sopir tidak boleh kosong</div>
            </div>
            <div class="form-group">
                <label for="keterangan">Keterangan</label>
                <textarea class="form-control" name="keterangan" id="keterangan" cols="10" rows="2"></textarea>
            </div>
            <div class="text-right mt-4 button" >
                <a href=""data-izimodal-close="" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Tambah</button>
            </div>
            <div class="text-center mt-4  d-none loading">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
</div>

