/* navbar */
.navbar {
	font-family: 'Roboto', sans-serif !important;
	height: 80px !important;
}

.navbar .nav-item {
	padding-right:  24px !important;
}

.navbar a {
	font-family: 'Roboto', sans-serif !important;
	font-size: 16px !important;
	font-weight: normal;
}


/* end of navbar */

.content {
	margin-bottom: 100px !important;
}

.pageTitleName {
	font-size: 32px !important;
}

.navbar .active a{
	font-weight: bold !important;
	color: rgb(102, 102, 102) !important;
}

/* responsive */

@media (max-width: 992px) { 
	body {
		width: 100vw !important;
	}
	.navWrapper {
		z-index: 9999;
		min-height: 61px !important;
		height: 61px !important;
		position: fixed !important;
		bottom: 0 ;
		padding: 0 !important;
		margin: 0 !important;
		background-color: white !important;
		box-shadow: 0 -1px 1px 1px #b8b8b869;
	}

	.logo {
		display: none;
	}

	.sidenav {
		width: inherit !important;
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		margin: 0 !important;
		padding: 0 !important;
		height: inherit !important;
	}

	.sidenav a {
		color: #B8B8B8 !important;
		font-weight: 600 !important;
	}

	.sidenav .nav-item:nth-child(6){
		display: none;
	}

	.sidenav .nav-item {
		border-radius: 0 !important;
	}

	.sidenav a {
		font-size: 12px !important;
	}

	.sidenav .active {
		background-color: transparent !important;
	}

	.sidenav .active a {
		color: #FF6600 !important;
	}

	.sidenav .nav-item:hover {
		background-color: transparent;
	}

	.sidenav .nav-item:hover a {
		color: #B8B8B8 !important; 
	}

	.sidenav li {
		width:  auto!important;
		padding: 0 !important;
		margin: 0 !important;
	}

	.navbar {
		height: auto !important;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
	-moz-appearance: textfield;
	}


}